.section-projects {
  background-color: var(--black);
  padding-top: 6rem;
  padding-bottom: 4rem;
  /* display: grid;
  grid-template-columns: 1fr;
  align-content: center;
  justify-items: center; */
}

.sectionHeader {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transform-style: preserve-3d;
  z-index: -1;
}

.projects-card-container {
  /* display: grid;
  grid-template-columns: 1fr;
  align-content: center;
  justify-items: center; */
  display: flex;
  flex-wrap: wrap;
}

.wrapper-project {
  /* width: 20%; */
  /* position: absolute; */
}
