.section-about {
  background-color: var(--black);
  padding-bottom: 4rem;
}

.sectionHeader {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transform-style: preserve-3d;
  z-index: -1;
}
