.wrapper {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;

  /* background-color: var(--black);
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding-top: 4rem; */
}

.sectionHeader {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transform-style: preserve-3d;
  z-index: -1;
}

.backgroundImage {
  transform: translateZ(-10px) scale(2);
}

.backgroundImage,
.foreground {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}
