.hero {
  width: 100%;
  position: relative;
  height: 200rem;
}

.tag {
  color: var(--primary);
}

.text {
  color: var(--text-shade);
}

.subHeading {
  color: var(--text-shade);
  font-weight: bold;
}
