.nav {
  position: fixed;
  top: 0;
  width: 90%;
  height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--black-shade);
  z-index: 1000;
}

.iconMenu {
  /* height: 1rem; */
  /* margin-right: 20rem; */
}
