.project {
  margin-bottom: 8rem;
  padding: 0;
  width: 80vw;
  /* outline: 1px solid var(--black-shadow); */
  /* background: var(--blue-secondary); */
}

.image {
  max-inline-size: 100%;
  block-size: auto;
  margin-bottom: 1.2rem;
}

.text-content {
  position: relative;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.tag {
  color: var(--secondary);
  position: absolute;
  top: -2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.9rem;
}

.skill-tag-container {
  display: flex;
  gap: 0.5rem;
}

.title {
  margin-bottom: 1.5rem;
}

.text {
  color: var(--text-shade);
  font-size: 1.2rem;
}

.project-links-container {
  display: flex;
  gap: 0.5rem;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--secondary);
  background: var(--blue);
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
}
