.menu-li {
  display: flex;
  justify-content: flex-start;
  width: 10rem;
}

.menu-item {
  color: var(--text);
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.menu-item-index {
  border-bottom: 2px solid var(--secondary);
}

@media (min-width: 1040px) {
    .menu-li {
        border-bottom: 2px solid var(--secondary);
        gap: 5rem;
    }

    .menu-item {
        gap: 0rem;
    }

    .menu-item-index {
        border: none;
    }
}
