

.nav {
  position: fixed;
  /* top: 0; */
  /* width: 100%; */
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--black-shade);
  z-index: 1000;
  color: var(--text);

  /* position: absolute; */
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
}

.background {
  position: absolute;
  top: 0;
  left: 110;
  bottom: 0;
  width: 3003px;
  background: #fff;
}

.logo {
    display: flex;
}

.icon-menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 2rem;
  cursor: pointer;
  border: 1px solid red;
}

.icon-menu {
  background-color: var(--text);
  position: relative;
  height: 2px;
  width: 2rem;
}

.icon-menu::before {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: var(--text);
  top: -10px;
}

.icon-menu::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: var(--text);
  top: 10px;
}

/* Closed menu state */
/* .icon-menu {
  background-color: var(--text);
  position: relative;
  height: 2px;
  width: 2rem;
}

.icon-menu::before {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: var(--text);

  transform: rotate(45deg);
}

.icon-menu::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: var(--text);

  transform: rotate(-45deg);
} */

.nav-responsive {
  display: none;
}

.nav-mobile {
  position: fixed;
  margin-top: 5vh;
  height: 100vh;
  width: 100%;
  z-index: 1000;
  animation: 1s 1 slidein;
  background-size: 3rem 3rem;
  background-color: #2d3237;
  opacity: 1;
}

.nav-mobile ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  font-size: 2rem;
  gap: 2rem;
}

.nav-mobile a {
  text-decoration: none;
  color: var(--text);
  position: relative;
}

.nav-li-0 {
  animation: 1.9s 1 alternate slidein0;
}
.nav-li-1 {
  animation: 1.6s 1 alternate slidein0;
}
.nav-li-2 {
  animation: 1.3s 1 alternate slidein0;
}
.nav-li-3 {
  animation: 1s 1 alternate slidein0;
}

.nav-li-0-exit {
  animation: 1.9s 1 alternate slideout0;
}
.nav-li-1-exit {
  animation: 1.6s 1 alternate slideout0;
}
.nav-li-2-exit {
  animation: 1.3s 1 alternate slideout0;
}
.nav-li-3-exit {
  animation: 1s 1 alternate slideout0;
}

.nav-animation {
  animation: 1s 1 alternate slidein;
}

.nav-animation-exit {
  animation: 1s 1 slideout;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes slideout {
  from {
    margin-left: 0%;
    width: 100%;
  }

  to {
    margin-left: 100%;
    width: 300%;
  }
}

@keyframes slidein0 {
  from {
    margin-left: 100%;
    /* width: 300%; */
  }

  to {
    margin-left: 0%;
    /* width: 100%; */
  }
}
@keyframes slideout0 {
  from {
    margin-left: 0%;
    /* width: 300%; */
  }

  to {
    margin-left: 100%;
    /* width: 100%; */
  }
}
